body {
  margin: 0px;
  background-image: url("image/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: white;
  min-height: 100vh;
  max-width: 800px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  padding: 20px;
}

.task-area {
  border: 2px solid lightgray;
  border-radius: 5px;
  position: relative;
}

.task-tabs {
  display: flex;
  border-bottom: 2px solid lightgray;
}

.task-tabs div {
  padding: 1em;
  cursor: pointer;
}

#under-line {
  background-color: #ffe274;
  height: 4px;
  position: absolute;
  top: 52px;
  left: 0px;
  width: 64px;
  padding: 0px;
}

.task {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  width: 100%;
  padding: 1em;
  position: relative;
}

#task-input {
  width: 91%;
  border: 2px solid #ffe274;
  padding-left: 10px;
  height: 50px;
  border-radius: 5px;
}

#task-input:focus {
  outline: none;
}

#add-button {
  background-color: blanchedalmond;
  border: none;
  margin-left: 5px;
  height: 50px;
  width: 7%;
  border-radius: 5px;
}

#add-button:hover {
  background-color: #ffe274;
}

.input-area {
  padding-top: 10px;
  padding-bottom: 15px;
}

.fa-check {
  color: limegreen;
}

.fa-trash {
  color: red;
}

.button-box button {
  border: none;
  width: 5em;
  margin: 0px;
  background-color: white;
}

.task-done {
  text-decoration: line-through;
}
